<% script(cdn) %>
<% script(widgets.webRTC.js) %>
<% script(widgets.chat.js) %>
<% script(widgets.userColors.js) %>
<% script('/js/demo.js') %>

<% stylesheet(widgets.webRTC.css) %>
<% stylesheet(widgets.chat.css) %>
<% stylesheet('/css/conference.css') %>

<script type="text/javascript">
  $(document).ready(function() {
    var config = {
      url: '<%= url %>',
      room: '<%= room %>',
      token: '<%= token %>',
      webrtcContainer: $('#webrtc-container')[0],
      chatContainer: $('#chat-container')[0]
    };

    // Auto Copy
    $('.join-url input').on('click', function() {
      this.select();
    });

    var supported = goinstant.widgets.WebRTC.supported;
    var supported = true; // TODO: remove this line

    if (!supported) {
      var error = 'Your browser does not support WebRTC. For an up-to-date' +
                  'list of supported browsers please see www.webrtc.org';

      console.log(error);

      return;
    }

    // Setup Demo
    var Demo = window.goinstant.WebRTCDemo;
    var demo = new Demo(config);
    demo.initialize(function(err) {
      if (err) {
        throw err;
      }
    });
  });
</script>

<div id="webrtc-container" class="webrtc-container"></div>
<div id="chat-container" class="chat-container"></div>

<span class="join-url">
  <span>Join URL:</span><input type="text" value="<%= joinURL %>" readonly />
</span>
