body {
  background-color: #0000ff;
}

.webrtc-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 400px;
  background-color: #cccccc;
}

.chat-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: 300px;
  background-color: #cccccc;
}

.join-url {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  background-color: #00ff00;
  display: inline-block;
  z-index: 10;
}

.join-url input {
  width: 280px;
}
