body {
  margin: 0;
  padding-bottom: 55px;
  background-color: #E0E6E9;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
   Layout
   ========================================================================== */

.main {
  width: 860px;
  margin: 1.5em auto 0;
}

.main > section > aside {
  float: left;
  padding-left: 25px;
  width: 298px;
}

.join-url {
  margin-bottom: 15px;
  padding: 5px 0 10px 23px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
  border-bottom: 1px dotted #bbb;
  background: url(../img/icon-invite.png) no-repeat 3px 14px;
}

  .join-url input {
    margin-left: 10px;
    width: 197px;
    border-radius: 3px;
    border: 0;
    padding: 6px;
    border: 1px solid #ccc;
    color: #999;
  }
    
    .join-url input:focus {
      background: #222;
      border-color: #222;
      color: white;
    }

/* 
   WebRTC Widget overrides
   ========================================================================== */

.webrtc-list {
  margin-top: 19px;
}

.webrtc-list .gi-webrtc {
  position: relative !important;
}

  .gi-collapse-wrapper {
    display: none;
  }

  .gi-webrtc-centered {
    display: block;
    max-width: none;
    box-shadow: none;
  }

  .webrtc-list .gi-webrtc .gi-list {
    height: 182px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
  }

  .webrtc-list .gi-webrtc .gi-user .gi-stream-wrapper {
    background-color: #D3D9DB;
  }

/* 
   Chat Widget overrides
   ========================================================================== */

.gi-chat-wrapper {
  /*border: 0;*/
}

.gi-chat {
  width: 275px;
  box-shadow: none;
}

  .gi-chat .gi-message-form input {
    width: 218px;
  }

  .gi-chat .gi-message-list {
    height: 313px;
  }

/* 
   Expanded Container
   ========================================================================== */

.webrtc-container {
  position: relative;
  float: left;
  width: 559px;
  height: 420px;
  text-align: left;
  border-radius: 5px;
  background-color: #D3D9DB;
}

  .webrtc-container .gi-list {
    padding: 0;
    overflow: hidden;
    border: 0;
    background: none;
  }

    .webrtc-container.gi-webrtc .gi-user {
      display: block;
      margin: 0;
    }

    .webrtc-container.gi-webrtc .gi-user .gi-user-wrapper {
      position: absolute;
      width: auto;
      bottom: 9px;
      left: 9px;
      background: white;
      border-radius: 3px;
      overflow: visible;
      border: 0;
      box-shadow: 0 1px 2px rgba(0,0,0,.35);
    }
    .webrtc-container.gi-webrtc .gi-name {
      width: auto;
      padding-left: 10px;
      padding-right: 25px;
      font-size: 1.1em;
      line-height: 1.6;
    }

    .webrtc-container.gi-webrtc .gi-user .gi-stream {
      mask: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNjMwcHgiIGhlaWdodD0iNDcycHgiIHZpZXdCb3g9IjAgMCA2MzAgNDcyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2MzAgNDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGQ9Ik02MzAsNDY3YzAsMi43NS0yLjI1LDUtNSw1SDVjLTIuNzUsMC01LTIuMjUtNS01VjVjMC0yLjc1LDIuMjUtNSw1LTVoNjIwYzIuNzUsMCw1LDIuMjUsNSw1VjQ2N3oiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
      -webkit-mask-box-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNjMwcHgiIGhlaWdodD0iNDcycHgiIHZpZXdCb3g9IjAgMCA2MzAgNDcyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2MzAgNDcyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGQ9Ik02MzAsNDY3YzAsMi43NS0yLjI1LDUtNSw1SDVjLTIuNzUsMC01LTIuMjUtNS01VjVjMC0yLjc1LDIuMjUtNSw1LTVoNjIwYzIuNzUsMCw1LDIuMjUsNSw1VjQ2N3oiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K');
    }

    .webrtc-container.gi-webrtc .gi-user .gi-stream-wrapper {
      width: 100%;
      height: 420px;
      border-radius: 5px;
      background-color: #D3D9DB;
      background-position: center;
    }

    .webrtc-container.gi-webrtc .gi-user.gi-streaming-audio .gi-stream-wrapper {
      background-image: url("../img/user-audio-expanded.png");
    }
    .webrtc-container.gi-webrtc .gi-user.gi-paused .gi-stream-wrapper {
      background-image: url("../img/user-audio-expanded.png");
    }

/* 
   GI Footer
   ========================================================================== */

#goinstant-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  z-index: 1000;
  background: #0B5C94;
  color: #C4E2FF;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

  #goinstant-header a {
    color: #C6DCF3;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

    #goinstant-header a:hover {
      color: white;
    }

  #goinstant-header ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    list-style-type: none;
  }

    #goinstant-header ul li {
      display: inline-block;
      margin-left: 1.5em;
    }

    #goinstant-header .gi-links img {
      position: relative;
      top: 7px;
    }
  
  #goinstant-header .gi-links {
    float: left;
  }

    #goinstant-header .gi-links li:not(.gi-logo) {
      position: relative;
      top: -2px;
    }

  #goinstant-header .gi-social {
    float: right;
    padding: 11px;
  }

    #goinstant-header .gi-social .twitter-share-button {
      margin-right: -2em;
    }
    
    #goinstant-header .gi-social .gi-label {
      position: relative;
      top: -4px;
      font-size: .85em;
      margin-right: 1em;
    }

/* 
   Helpers
   ========================================================================== */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
